@font-face {
  font-family: 'GothamBold';
  src: url("fonts/GothamBold.otf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: GothamBold; }

.Buttons {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%); }

.Button {
  background: white;
  border: 0;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 12px 6px;
  font-weight: 700;
  border-radius: 240px;
  color: #D50040;
  transition: .4s ease;
  font-family: "GothamBold", sans-serif; }

.Button:hover {
  cursor: pointer;
  color: #D50040;
  background-color: #112097; }

.App {
  display: flex;
  flex-flow: row wrap;
  background-color: #091152;
  height: 100vh; }

.Logo {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 48px 48px 0; }

.country {
  text-align: left;
  flex-grow: 1;
  color: white;
  background-color: #0E1B80;
  margin: 0 0 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 18px;
  break-inside: avoid;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.country--small {
  position: relative;
  font-size: 13px;
  min-width: 420px;
  padding: 2px 8px; }

.country--small .country__flag img {
  width: 22px;
  height: 18px; }

.country:not(.country--small):nth-of-type(-n+10) {
  background-color: #D50040; }

.country__rank {
  width: 32px;
  margin-right: 16px;
  text-align: center; }

.country__flag {
  margin-right: 16px; }

.country__flag img {
  display: block;
  width: 28px;
  height: 24px; }

.country__average {
  margin-left: auto; }

.Scoreboard {
  width: calc(100% / 3 * 2);
  padding: 48px; }

.Scoreboard > div {
  columns: 2; }

.Voting {
  width: calc(100% / 3);
  margin: 48px 0;
  text-align: center;
  color: white; }

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
