@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Medium.otf"); }

@font-face {
  font-family: 'Digii';
  src: url("fonts/Digii.TTF"); }

@font-face {
  font-family: 'Korina';
  src: url("fonts/Korina.otf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Korina", sans-serif;
  background-color: #111;
  overflow: hidden; }

.Buttons {
  text-align: center; }

.Button {
  background: white;
  border: 0;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 12px;
  font-weight: 700;
  border-radius: 240px;
  color: #111;
  transition: .4s ease;
  font-family: "Gotham";
  text-transform: uppercase; }

.Button:hover {
  cursor: pointer;
  color: white;
  background-color: #1e1e1e; }

.App {
  padding: 48px 48px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 240px auto 156px;
  height: 100vh;
  align-items: center;
  grid-template-areas: "logo votes" "scoreboard votes" "footer votes"; }

.Logo {
  grid-area: logo;
  text-align: center; }

.country {
  text-align: left;
  flex-grow: 1;
  color: #a8ab9f;
  background-color: #0a110c;
  margin: 0 16px 16px 0;
  padding: 0 8px;
  width: 100%;
  font-size: 24px;
  break-inside: avoid;
  text-transform: uppercase;
  position: relative;
  border: 2px solid #cfc5a4;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.country--small {
  position: relative;
  font-size: 14px;
  padding: 4px 8px;
  margin: 0 0 8px;
  min-width: 326px; }

.country--small .country__flag {
  float: none;
  margin-left: 0;
  border-left: 0; }

.country--small .country__flag img {
  width: 22px;
  height: 18px; }

.country--small .country__rank {
  font-family: "Korina"; }

.country__rank {
  width: 32px;
  margin-right: 16px;
  text-align: center;
  font-family: "Digii"; }

.country__flag {
  margin-left: auto;
  margin-right: 16px;
  float: right;
  border-left: 2px solid #cfc5a4;
  padding-left: 8px; }

.country__flag img {
  display: block;
  width: 28px;
  height: 34px; }

.country__average {
  font-size: 28px;
  font-family: "Digii";
  width: 56px;
  text-align: right;
  color: #00d0dc; }

.Scoreboard {
  grid-area: scoreboard;
  border-right: 0;
  width: 100%;
  padding: 0; }

.Scoreboard > div {
  columns: 2; }

.Voting {
  grid-area: votes;
  padding: 12px 24px;
  width: 100%;
  color: white;
  position: relative;
  min-height: 68vh;
  min-width: calc(326px + 24px + 24px); }

.Voting h1 {
  text-align: center;
  display: block;
  color: #faf7cc;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 24px; }

.Buttons {
  grid-area: footer; }

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
