@font-face {
  font-family: 'GothamBold';
  src: url('fonts/GothamBold.otf');
}

@font-face {
  font-family: 'Rosewood';
  src: url('fonts/Rosewood.ttf');
}

$color-primary: #111;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
  background-image: url("img/true-fantasy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.Buttons {
  text-align: center;
}

.Button {
  background: white;
  border: 0;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 12px 6px;
  font-weight: 700;
  border-radius: 240px;
  color: $color-primary;
  transition: .4s ease;
  font-family: "GothamBold", sans-serif;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: lighten($color-primary, 5%);
  }
}

.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 196px auto 156px;
  height: 100vh;
  align-items: center;
  grid-template-areas:
    "logo votes"
    "scoreboard votes"
    "footer votes";
}

.Logo {
  grid-area: logo;
  text-align: center;
  padding: 48px;
}

.country {
  text-align: left;
  flex-grow: 1;
  color: white;
  background-color: #111;
  margin: 0 0 8px;
  padding: 3px 8px 5px 8px;
  width: 100%;
  font-size: 17px;
  break-inside: avoid;
  text-transform: uppercase;
  border-radius: 0 16px 0 0;

  &--small {
    position: relative;
    font-size: 13px;
    min-width: 420px;
    padding: 2px 8px;
    margin: 0 0 2px;

    .country {
      &__flag {
        img {
          width: 22px;
          height: 18px;
        }
      }
    }
  }

  &:not(&--small):nth-of-type(-n+10) {
   .country__name {
     color: #F4CA40;
   }
  }
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__rank {
    width: 32px;
    margin-right: 16px;
    text-align: center;
  }

  &__name {
    padding: 4px;
    color: white;
  }

  &__flag {
    margin-right: 16px;

    img {
      display: block;
      width: 28px;
      height: 24px;
    }
  }

  &__average {
    margin-left: auto;
    font-family: "Rosewood"; 
    font-size: 20px;
  }
}

.Scoreboard {
  grid-area: scoreboard;
  width: 100%;
  padding: 0 48px;

  >div {
    columns: 2;
  }
}

.Voting {
  grid-area: votes;
  width: 100%;
  color: white;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -300px;
    right: 0;
    z-index: 0;
    width: 400px;
    height: 400px;
    background-image: url("img/flowers.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    animation: spin 8s infinite;
  }

  h1 {
    margin: 0 0 24px;
    display: inline-block;
    background-color: #111;
    color: white;
    padding: 4px 12px;
    transform: rotate(-4deg);
    font-family: "Rosewood";
    text-transform: uppercase;
    width: 100%;
    position: relative;
    z-index: 2;
  }
}

.Buttons {
  grid-area: footer;
}

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}