@font-face {
  font-family: 'GothamBold';
  src: url("fonts/GothamBold.otf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: GothamBold; }

.App {
  display: flex;
  flex-flow: row wrap;
  background-color: #091152; }

.Logo {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 48px 48px 0; }

.country {
  text-align: left;
  flex-grow: 1;
  color: white;
  background-color: #0E1B80;
  margin: 2px;
  padding: 2px 8px;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.country--small {
  position: relative;
  font-size: 12px; }

.country--small .country__flag img {
  width: 24px;
  height: 16px; }

.country__rank {
  width: 32px;
  margin-right: 16px;
  text-align: center; }

.country__flag {
  margin-right: 16px; }

.country__flag img {
  display: block;
  width: 28px;
  height: 24px; }

.country__average {
  margin-left: auto; }

.Scoreboard {
  width: calc(100% / 3 * 2);
  padding: 48px; }

.Scoreboard > div {
  columns: 2; }

.Voting {
  width: calc(100% / 3);
  margin: 48px 0;
  text-align: center;
  color: white; }

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.Button {
  position: fixed;
  top: 48px;
  left: 48px; }
